.container-fluid,.row{
    margin:0;
    padding:0;

}
/*html, body{
	 height: 100%;
	 margin: 0;
	 padding: 0;
}*/

.nav{
	background-color: rgba(241,241,241,1);
	width: 100%;
	height: 65px;
	position: fixed;
	top: 0;
	display: block;
}
.nav-wrap{
	position: fixed;
	float: left;
	top: 0;
	left: 15%;
	margin: 0;
	/*background-color: pink;*/
}
.user_nav{
	position: fixed;
	float: right;
	top: 0;
	right: 15%;
	margin: 0;
	/*background-color: pink;*/
}
.nav-link a:link, .nav-link a:visited{
	text-decoration: none;
	color: black;
}
.nav-link a:hover{
	color: purple;
}
.nav-link{
	/*text-align: center;*/
	display: inline-block;
	font-size: 25px;
	float: left;
	font-family: "Fira Sans", sans-serif;
	padding: 10px 15px 10px 15px;
	margin: 0 auto;
}
.header{
	display: block;
	/*float:left;*/
	width: 100%;
	height: 120px;
	/*margin-top: 65px;*/
	padding: 7% 0 10% 16%;
	border-bottom: 2px solid rgba(241,241,241,1);
	font-family: 'Kaushan Script', cursive;
	clear: both;
	/*background-color: pink;*/
}
.header h1{
	font-size: 75px;
}
/*.filler{
	display: inline-block;
	float: left;
	height: 100%;
	width: 16%;
	background-color: pink;
}*/
/*.main{
	display: block;

}*/
/*.iteration{
	margin-top: 20px;
	padding-left: 16%;
	width: 70%;
	
	display: block;
	background-color: lavender;
}*/
.arrow-wrap{
	float: left;
	display: inline-block;
	/*background-color: pink;*/
}
.arrow{
	display: block;
	padding: 0;
	margin: 0;
}
.delete{
	display: inline-block;
	/*float: left;*/
	margin-top: 10px;
}
.vote-wrap{
	float: left;
	margin-left: 15px;
	display: inline-block;
	/*background-color: purple;*/
}
.vote-up{
	display: block;
	padding: 5px 0 10px 0;
	margin: 0;
}
.vote-down{
	display: block;
	padding-top: 25px;
	margin: 0;
}

.p-wrap{
	margin-top: 38px;
	display: block;
	padding-left: 17%;
	/*float: left;*/
	/*background-color: blue;*/
	/*margin-left: 10%;*/
}
.d-wrap{
	display: block;
	padding-left: 17%;

}
.pic{
	display: inline-block;
	margin-left: 30px;
}

.descrip{
	display: inline-block;
	margin-left: 35px;
	font-size: 18px;
	/*float: left;*/
}
/*.wrap{
	display: block;
	width: 70%;
	/*height: 100vh;}*/
.upload{
	display: inline-block;
	float: left;
	position: fixed;
	right: 0;
	top: 300px;
	width: 350px;
	height: 300px;
	border: 3px solid lavender;
	border-radius: 25px;
	padding:50px 0 20px 20px;
}

.sign-in{
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
}

.email-form{
	margin-bottom: 10px;
}
/*.thanks-email{
	visibility: hidden;
}*/
/*@media all and (max-width: 768px){
	.hello{
		font-size: 100px;
		
	}
	.tagline{
		font-size: 35px;
	}
	.fa-bars{
		margin: 10px;
		display: inline-block;
		visibility: visible;
	}
	.nav-link{ 
		display: none;
		font-size: 18px;
	}
	#nav-wrap{
		width: 75px;
		position: fixed;
		top: 30px;
		left: 35px;
	}
	#nav{
		background-color: rgba(255,255,255,0);
	}
}
@media all and (max-width: 480px){
	.hello{
		font-size: 75px; 
	}
	.tagline{
		font-size: 25px;
	}
}*/

