<!-- <div class="p-wrap"> -->
	<div class="pic">
	<%= link_to image_tag(@photo.image.url(:medium)), @photo.image.url(:original), target: '_blank' %>
	</div>


	<div class="descrip">
	<p><%= @photo.description %></p>
	</div>
<!-- </div> -->
